In [31]:
import pandas as pd

In [32]:
data = pd.read_csv("wisdm.csv")

/var/folders/l1/k5_0yqz17fggkd71c1_xqvkw0000gn/T/ipykernel_12776/1988568577.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("wisdm.csv")

In [33]:
data.head()

   user_id activity_class      tiemstamp         x         y             z
0     1679        Walking  1370520469556  0.294132 -0.635605  -0.22693644;
1     1679        Walking  1370520469606 -0.499688 -0.604451  -0.22602014;
2     1679        Walking  1370520469656 -2.178345  0.713491   0.37201694;
3     1679        Walking  1370520469706 -2.797763  1.354899  -0.27763826;
4     1679        Walking  1370520469756 -2.167961 -1.327716   -0.5549711;

In [34]:
data.shape

(3005411, 6)

In [35]:
data.drop("tiemstamp", inplace=True, axis=1)
data.head()

   user_id activity_class         x         y             z
0     1679        Walking  0.294132 -0.635605  -0.22693644;
1     1679        Walking -0.499688 -0.604451  -0.22602014;
2     1679        Walking -2.178345  0.713491   0.37201694;
3     1679        Walking -2.797763  1.354899  -0.27763826;
4     1679        Walking -2.167961 -1.327716   -0.5549711;

In [36]:
data.loc[data.activity_class == "Walking", "activity_class"] = "walking"
data.loc[data.activity_class == "Sitting", "activity_class"] = "sitting"
data.loc[data.activity_class == "Jogging", "activity_class"] = "jogging"
data.loc[data.activity_class == "LyingDown", "activity_class"] = "fall_detected"

data.head()

   user_id activity_class         x         y             z
0     1679        walking  0.294132 -0.635605  -0.22693644;
1     1679        walking -0.499688 -0.604451  -0.22602014;
2     1679        walking -2.178345  0.713491   0.37201694;
3     1679        walking -2.797763  1.354899  -0.27763826;
4     1679        walking -2.167961 -1.327716   -0.5549711;

In [37]:
data["activityStatus"] = "normalActivity"

In [38]:
data.loc[data.activity_class == "fall_detected", "activityStatus"] = "dangerousActivity"

In [39]:
data.head()

   user_id activity_class         x         y             z  activityStatus
0     1679        walking  0.294132 -0.635605  -0.22693644;  normalActivity
1     1679        walking -0.499688 -0.604451  -0.22602014;  normalActivity
2     1679        walking -2.178345  0.713491   0.37201694;  normalActivity
3     1679        walking -2.797763  1.354899  -0.27763826;  normalActivity
4     1679        walking -2.167961 -1.327716   -0.5549711;  normalActivity

In [40]:
data["z"] = data['z'].str.replace(r';', '')
data.head()

   user_id activity_class         x         y            z  activityStatus
0     1679        walking  0.294132 -0.635605  -0.22693644  normalActivity
1     1679        walking -0.499688 -0.604451  -0.22602014  normalActivity
2     1679        walking -2.178345  0.713491   0.37201694  normalActivity
3     1679        walking -2.797763  1.354899  -0.27763826  normalActivity
4     1679        walking -2.167961 -1.327716   -0.5549711  normalActivity

In [41]:
data.to_csv("wisdm_processed.csv", header=True, index=False)